{% load wagtailcore_tags wagtailroutablepage_tags %}

{% if has_items %}

<ul>
    {% for item in basket %}

        <li>
            {{ item.product.name }} - {{ item.quantity }} - {{ item.product.price }} <br>
            <a href="{% routablepageurl basket_page 'basket-remove' id=item.id %}">Remove</a>
            <a href="{% routablepageurl basket_page 'basket-increment' id=item.id %}">Increment</a>
            <a href="{% routablepageurl basket_page 'basket-decrement' id=item.id %}">Decrement</a>
        </li>

    {% endfor %}
</ul>

<a href="{% pageurl basket_page %}clear">Clear</a>

{% else %}

<p>Your basket is empty</p>

{% endif %}
