{% load wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

{{ page.title }}
{{ page.description|richtext }}
{% image page.image fill-300x200 %}

<ul>
{% for variant in page.get_children.specific %}
    <li>
        {{ variant.title }} <br>
        {{ variant.description|richtext }} <br>
        {% image variant.image fill-300x200 %} <br>
        {% if basket_page %}
        <button>
            <a href="{% routablepageurl basket_page 'basket-add' id=variant.id %}">Add To Basket</a>
        </button>
        {% endif %}
    </li>
{% endfor %}
</ul>
